{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
set -euo pipefail

# brewfile hash: {{ include "darwin/Brewfile" | sha256sum }}
echo "Installing brew packages from Brewfile"
brew bundle install --file={{ joinPath .chezmoi.sourceDir "darwin/Brewfile" | quote }}
{{ end -}}
