[core]
	editor = vim
	autocrlf = input
	excludesFile = ~/.gitignore
[pager]
	branch = cat
[user]
	name = tanimon
	email = 8575113+tanimon@users.noreply.github.com
[alias]
	co = checkout
	cob = !git checkout $(git branch | peco | awk '{ print $NF }') 
	unstage = reset HEAD --
	dmb = !git branch --merged | grep -vE 'master|\\*' | xargs -I % git branch -d %
[pull]
	rebase = false
[init]
	defaultBranch = main
[push]
	default = current
