[core]
	editor = vim
[pager]
	branch = cat
[user]
	name = a-tanikd
	email = 8575113+a-tanikd@users.noreply.github.com
[alias]
	co = checkout
	cob = !git checkout $(git branch | peco | awk '{ print $NF }') 
	unstage = reset HEAD --

