# ref: https://blog.gitbutler.com/how-git-core-devs-configure-git
[alias]
  co = checkout
  sw = !git branch | fzf | xargs -I{} git switch {}
[branch]
  sort = -committerdate
[column]
  ui = auto
[commit]
  verbose = true
  gpgsign = true
[core]
  autocrlf = input
  excludesfile = ~/.gitignore
  fsmonitor = true
  untrackedCache = true
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
  tool = difft
  external = difft
[fetch]
  prune = true
  pruneTags = true
  all = true
[help]
  autocorrect = prompt
[init]
  defaultBranch = main
[merge]
  conflictstyle = zdiff3
[pull]
  rebase = false
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
[rerere]
  enabled = true
  autoupdate = true
[tag]
  sort = version:refname
[user]
  name = tanimon
  email = 8575113+tanimon@users.noreply.github.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPqE5lfvsdUH7CAsIodo8L4zv3MY5s02cfR8sGjqYcBW

# ref: https://1password.com/blog/git-commit-signing
[gpg]
  format = ssh
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

{{ if eq .profile "work" -}}
### 会社用設定
[url "git@github.com:"]
  insteadOf = https://github.com/
[gtr "copy"]
  include = **/.envrc
  include = tmp/scripts/**
  include = .claude/settings.local.json
[gtr "editor"]
  default = code
[credential]
  helper =
  helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
  useHttpPath = true
{{ end -}}
