{
  "version": 2,
  "plugins": {
    "plugin-dev@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/plugin-dev/205b6e0b3036",
        "version": "205b6e0b3036",
        "installedAt": "2025-12-15T08:21:50.284Z",
        "lastUpdated": "2026-03-04T11:05:28.078Z",
        "gitCommitSha": "19a119f97e361ebdec475cd2bf5667cc4e48e64b"
      }
    ],
    "pr-review-toolkit@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/pr-review-toolkit/205b6e0b3036",
        "version": "205b6e0b3036",
        "installedAt": "2025-12-15T08:21:50.284Z",
        "lastUpdated": "2026-03-04T11:05:28.058Z",
        "gitCommitSha": "19a119f97e361ebdec475cd2bf5667cc4e48e64b"
      }
    ],
    "commit-commands@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/commit-commands/205b6e0b3036",
        "version": "205b6e0b3036",
        "installedAt": "2025-12-15T08:21:50.284Z",
        "lastUpdated": "2026-03-04T11:05:28.055Z",
        "gitCommitSha": "19a119f97e361ebdec475cd2bf5667cc4e48e64b"
      }
    ],
    "feature-dev@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/feature-dev/205b6e0b3036",
        "version": "205b6e0b3036",
        "installedAt": "2025-12-15T08:21:50.284Z",
        "lastUpdated": "2026-03-04T11:05:28.056Z",
        "gitCommitSha": "19a119f97e361ebdec475cd2bf5667cc4e48e64b"
      }
    ],
    "code-review@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/code-review/205b6e0b3036",
        "version": "205b6e0b3036",
        "installedAt": "2025-12-15T08:21:50.284Z",
        "lastUpdated": "2026-03-04T11:05:28.054Z",
        "gitCommitSha": "19a119f97e361ebdec475cd2bf5667cc4e48e64b"
      }
    ],
    "gopls-lsp@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/gopls-lsp/1.0.0",
        "version": "1.0.0",
        "installedAt": "2025-12-23T01:31:50.714Z",
        "lastUpdated": "2025-12-23T01:31:50.714Z"
      }
    ],
    "claude-delegator@jarrodwatts-claude-delegator": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/jarrodwatts-claude-delegator/claude-delegator/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-01-14T02:40:02.634Z",
        "lastUpdated": "2026-01-14T02:40:02.634Z",
        "gitCommitSha": "645c202b29ac5bdf930f2fd81265ab2ce57dacb3"
      }
    ],
    "planning-with-files@planning-with-files": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/planning-with-files/planning-with-files/2.11.0",
        "version": "2.11.0",
        "installedAt": "2026-02-03T05:02:37.249Z",
        "lastUpdated": "2026-02-03T05:02:37.249Z",
        "gitCommitSha": "c1a24568cdf51d0501064fb05b3c70b82cfae4cc"
      }
    ],
    "everything-claude-code@everything-claude-code": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/everything-claude-code/everything-claude-code/1.4.1",
        "version": "1.4.1",
        "installedAt": "2026-02-09T06:45:30.765Z",
        "lastUpdated": "2026-02-09T06:45:30.765Z",
        "gitCommitSha": "77bb669dc5fb21ac9767548ee5077c1eb6a305d2"
      }
    ],
    "compound-engineering@every-marketplace": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/every-marketplace/compound-engineering/2.31.1",
        "version": "2.31.1",
        "installedAt": "2026-02-10T10:23:07.911Z",
        "lastUpdated": "2026-02-10T10:23:07.911Z",
        "gitCommitSha": "e8f3bbcb3580862a2715575d609333306ed02ee3"
      }
    ],
    "superpowers@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/superpowers/4.3.1",
        "version": "4.3.1",
        "installedAt": "2026-02-26T07:16:12.031Z",
        "lastUpdated": "2026-02-26T07:16:12.031Z",
        "gitCommitSha": "e4a2375cb705ca5800f0833528ce36a3faf9017a"
      }
    ],
    "typescript-lsp@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/typescript-lsp/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-03-06T14:05:22.600Z",
        "lastUpdated": "2026-03-06T14:05:22.600Z",
        "gitCommitSha": "205b6e0b30366a969412d9aab7b99bea99d58db1"
      }
    ],
    "playwright@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/playwright/205b6e0b3036",
        "version": "205b6e0b3036",
        "installedAt": "2026-03-06T14:05:49.917Z",
        "lastUpdated": "2026-03-06T14:05:49.917Z",
        "gitCommitSha": "205b6e0b30366a969412d9aab7b99bea99d58db1"
      }
    ],
    "claude-code-setup@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/claude-code-setup/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-03-06T14:06:20.288Z",
        "lastUpdated": "2026-03-06T14:06:20.288Z",
        "gitCommitSha": "205b6e0b30366a969412d9aab7b99bea99d58db1"
      }
    ]
  }
}